
.catalog__title {
  @include reset;
  @include Oswald--400;

  display: block;
  box-sizing: border-box;
  margin: 27px auto 27px 20px;

  font-size: 36px;
  line-height: 36px;
}


.card-product {
  display: flex;
  flex-wrap: wrap;

  width: 280px;
  min-height: 218px;
  padding: 11px 20px 14px 20px;
  border-bottom: black solid 1px;

  color: $special_dark-grey;

    &--all {
      flex-direction: column;
      align-items: center;
      padding-bottom: 26px;
    }
}
.card-product:first-child{
  border-top: black solid 1px;
}

.card-product__description {
  padding-top: 20px;
}

.card-product__title {
  @include Oswald--400;
  @include reset;

  width: 78px;
  margin-bottom: 18px;

    &--all{
      width: 100%;
      margin-bottom: 8px;
      text-align: center;
    }
}

.card-product__info {
  @include Arial--400;

  &--all {
    margin: 0 auto;
    margin-bottom: 21px;
    text-align: center;
  }
}

.info-list {
  @include reset-list;
}

.info-list__item {
  display: flex;
}

.card-poduct__button {
  flex-grow: 1;
  background-color: $basic_green;
  color: #FFFFFF;
  border: none;

  &--all{
    align-self: stretch;
    flex-grow: 0;

    background-color: $basic_grey;
    color: $special_dark-grey;
  }
}

.card-product__linck-img--all {
  margin-bottom: 23px;
}

