.catalog__wrapper {
  margin-bottom: 39px;
}


.catalog__title {
  @include reset;
  @include Oswald--400;

  display: block;
  box-sizing: border-box;
  margin: 27px auto 27px 20px;

  font-size: 36px;
  line-height: 36px;
}


.card-product {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  min-width: 320px;
  min-height: 218px;
  padding: 11px 20px 14px 20px;
  border-bottom: $special_dark-grey solid 1px;

  color: $special_dark-grey;

    &--all {
      flex-direction: column;
      align-items: center;
      padding-bottom: 26px;
    }

}

.card-product:first-child{
  border-top: $special_dark-grey solid 1px;
}

.card-product__description {
  width: 140px;
  // @include border-help(1px, red);
}

.card-product__title {
  @include Oswald--400;
  @include reset;

  width: 78px;
  margin-bottom: 18px;

    &--all{
      width: 100%;
      margin-bottom: 8px;
      text-align: center;
    }
  // @include border-help(1px, rgb(14, 11, 11));

}

.card-product__info {
  @include Arial--400;

  &--all {
    margin: 0 auto;
    margin-bottom: 21px;
    text-align: center;
  }
}

.info-list {
  @include reset-list;
  // @include border-help(1px, rgb(68, 225, 15));

}

.info-list__item {
  display: flex;

  justify-content: space-between;
}

.info-list__item-value {
  text-align: right;
}

.card-poduct__button {
  flex-grow: 1;
  background-color: $basic_green;
  color: #FFFFFF;
  border: none;

  &--all{
    align-self: stretch;
    flex-grow: 0;

    background-color: $basic_grey;
    color: $special_dark-grey;
  }
}

.card-product__linck-img--all {
  margin-bottom: 23px;
}

