
.cat-block__switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  text-align: center;

}

.cat-block__switch span {
  margin:0 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}

.cat-block__options {
  position: relative;
}

.cat-block__switch  input[type="checkbox"]{
  position: absolute;
  opacity: 0;
}

.cat-block__switch input[type="checkbox"] + .checkbox-indicator {
  content: "";
  position: absolute;
  width: 35px;
  height: 6px;

  top: 4px;
  left:  4px;
  z-index: 5;
  border-radius: 10px;
  background-color: $basic_green;

}

.cat-block__switch input[type="checkbox"]:checked + .checkbox-indicator {
  content: "";
  position: absolute;
  width: 35px;
  height: 6px;

  top: 4px;
  left: 46px;
  z-index: 5;
  border-radius: 10px;
  background-color: $basic_green;
}

.cat-block__switch-line {
  display: block;
  width: 84px;
  height: 14px;
  border: 2px $special_grey solid;
  background-color: white;
  border-radius: 10px;
}

.nojs__switch .cat-block__img--after {
  // display: none;
}



