.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items:center;
  @include minus-margin-all;
  @include plus-padding-all;
  padding-top: 20px;

  background-color: #F2F2F2;

  @media (min-width: $tablet-width){
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width-only){
    padding-top: 20px;
  }
}

.social__wrapper {
  margin: 27px 0;
  padding: 22px 0;

  @media (max-width: $mobile-width-only){
    width: calc(100% + ($margin-mobile * 2));
    border-bottom: $special_dark-grey solid 1px;
    border-top: $special_dark-grey solid 1px;
  }
}

.social__list {
  @include reset-list;

  display: flex;
  justify-content: space-between;
  width: 130px;
  height: 22px;
  margin: 0 auto;

}

.social__item svg:hover {
  fill: $basic_green;
}


.page-footer__copyright {
  @media (max-width: $mobile-width-only){
    width: 100%;
  }

}

.copyright {
  @include Arial--400;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;



}

.copyright__link {
  display: block;
  color: inherit;
  text-decoration: none;
}