.page-header{
  position: relative;
  // padding: 0 20px;
  // border: 1px solid red;
  @media (min-width: $tablet-width){
    display: flex;
  }
}

.page-header__logo {
  height: 38px;
  text-align: center;

    @media (min-width: $tablet-width){
      // display: block;
      margin-top: 24px;
      width: 174px;
      height: 52px;
      content: url("../img/logo-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      margin-top: 53px;
      width: 202px;
      height: 59px;
    }
}