.page-header{

}

.main-nav {

}

.main-nav__wrapper {
  position: relative;
}

.main-nav__toggle {
  background-color: white;
  border: none;
}

.main-nav__list {
}

.site-list{
  display: block;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  padding: 0;
  list-style: none;
}

.site-list__item {
  font-weight: bold;
  height: 66px;
  cursor: pointer;
  border-bottom: $special_dark-grey solid 1px;

  &:hover {
    opacity: 0.6;
  }

  &:first-child {
    border-top: $special_dark-grey solid 1px;
  }
}

.site-list__item a{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
}

.site-list__item--active {

}