.page-header {
  position: relative;
  display: block;
  min-height: 66px;
  padding-top:11px;

  @media (min-width: $tablet-width){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width){
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;

      width: 50vw;
      height: 696px;
      top:0;
      left: auto;
      right: -110px;
      z-index: -100;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: top;
      background-size: cover;
    }
  }

}

.page-header__logo {
  display: block;
  margin-bottom: 20px;
  width: 225px;
  height: 38px;

  @media (min-width: $tablet-width){
    width: 174px;
    height: 52px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}