.located {
  background-color: $basic_grey;
  padding: 20px;
  margin-bottom: 20px;

}

.located__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.located__title {
  @include reset;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.located__desc {
  @include reset;
  @include Arial--400;
  font-size: 14px;
  line-height: 20px;
}

.located__map {
  width: 100%;
  height: 362px;
  margin-left: -20px;
}