.main-nav {

  @media (max-width: $mobile-width-only){
    margin: 0 -20px;
    border-bottom: #E6E6E6 solid 1px;
  }

  @media (min-width: $tablet-width){
    width: 440px;
    margin-right: 0;
    margin-left: auto;
  }

  @media (min-width: $desktop-width){
    width: 40vw;
    margin: 0;
  }
}

.site-list {
  @include reset-list;

  @media (min-width: $tablet-width){
    display: flex;
    justify-content: space-between;
    align-items:center;

    width: auto;
  }

  @media (min-width: $desktop-width){
    width: 478px;
    margin-right: 0;
    margin-left: auto;
  }
}

.site-list__item {
  @media (max-width: $mobile-width-only){
    border-bottom: #E6E6E6 solid 1px;

    &:first-child {
      border-top: #E6E6E6 solid 1px;
    }

    &:last-child{
      border-bottom: none;
    }
  }

    &--active {
      @media (min-width: $mobile-width-only){
        border-bottom: $basic_green solid 2px;
      }
    }
}


@media (min-width: $desktop-width){
  .site-list--index  a {
    color: white;
  }

  .site-list--index .site-list__item--active {
    border-bottom: white solid 2px;
  }
}



.site-list__item a{
  display: flex;
  align-items:center;
  justify-content: center;

  height: 66px;
  padding: 0 2px;

  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;

  @media (min-width: $tablet-width){
    height: 36px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width){
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0;
  left: auto;
  top: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__toggle::before {

    position: absolute;
    content: "";
    width: 24px;
    height: 2px;
    margin: auto;
    left: 0;
    right: 0;
    top: 4px;

    background-color: black;
    box-shadow:
    0 6px 0 0 black,
    0 12px 0 0 black;
}

.main-nav--opened .main-nav__toggle{
  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    width: 24px;
    height: 2px;
    background-color: black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list {
    display: none;
  }
}

@media (min-width: $tablet-width){
  .main-nav__toggle {
    display: none;
  }
}