
@font-face {
  font-family: "Oswald"; /* Имя шрифта */
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/oswaldregular.woff2") format("woff2"),
  url("../fonts/oswaldregular.woff") format("woff");
 }

 @font-face {
  font-family: "Oswald"; /* Имя шрифта */
  font-weight: 500;
  font-style: normal;

  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
  url("../fonts/oswaldmedium.woff") format("woff");
 }

*,::before,::after {
  box-sizing: border-box;
}

.page-main {
  @include Oswald--400;


  // @include border-help(rgb(255, 128, 0), 2px);
}

.button {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  border: none;

  text-transform: uppercase;
  cursor: pointer;

  &:active {
    color: rgba($special_dark-grey, 0.3);
  }
}

.button--green {
  background-color: $basic_green;
  color: white;

  &:hover {
    background-color: $basic_green2;
  }

  &:active {
    background-color: $basic_green2;
    color: rgba(white, 0.3 );
  }
}
