
.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding-bottom: 36px;
  padding: 0 20px;
  // outline: 3px solid red;
  // margin-bottom: 20px;
  min-height: 480px;

  @media (min-width: $tablet-width){
    padding: 0 110px;
    justify-content: start;
  }

  @media (min-width: $desktop-width){
    flex-direction: row;
    flex-wrap: wrap;
  }
}


.promo__wrapper {
  width: 100%;
  min-height: 305px;


  @media (max-width: $mobile-width-only){
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% cover;
    background-color: #65A93C;

    color: #ffffff;
  }

  @media (min-width: $desktop-width){
    width: 50%;
  }

}

.promo__title {
  display: block;
  box-sizing: border-box;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width){
    font-size: 60px;
    line-height: 60px;
    text-align:start;
    margin-bottom: 41px;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin-bottom: 29px;

  @media (min-width: $tablet-width){
    font-size: 20px;
    line-height: 20px;
    text-align:start;
    margin-bottom: 49px;
  }
}

.promo_img__wrapper{
  position: relative;
  flex-grow: 1;
  // border: 1px solid red;
  // margin: 0 auto;

  @media (min-width: $tablet-width){
    // display: none;
    position: relative;
    order: 2;
    margin: 0 ;
    height: 510px;

  }

  @media (min-width: $desktop-width){
    order: 0;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top;
    width: 300px;
    margin-left: -120px;
    flex-grow: 0;

  }
}

.promo__img {
  position: absolute;
  margin: auto;
  // outline: 3px solid rgb(29, 29, 228);
  left: 0;
  right: 0;
  top: -100%;

  @media (min-width: $tablet-width){
    top: -100px;
    left: -100px;
    z-index: -1;
    width: 709px;
    height: 609px;

  }
}

.promo__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 20px;
  // padding: auto;
  background-color: $basic_green;
  color: #FFFFFF;

  @media (min-width: $tablet-width){
    // // order: 2;
    // position: absolute;
    // z-index: 12;
    margin: 0;
    width: 244px;
    height: 54px;
  }

  @media (min-width: $desktop-width){

  }
}